/* general typography */
.leaflet-container {
  background: #fff !important;
  font:
    12px/20px "Helvetica Neue",
    Arial,
    Helvetica,
    sans-serif;
  color: #404040;
  color: rgba(0, 0, 0, 0.75);
  outline: 0;
  overflow: hidden;
  -ms-touch-action: none;
}

.leaflet-container *,
.leaflet-container *:after,
.leaflet-container *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.leaflet-container h1,
.leaflet-container h2,
.leaflet-container h3,
.leaflet-container h4,
.leaflet-container h5,
.leaflet-container h6,
.leaflet-container p {
  font-size: 15px;
  line-height: 20px;
  margin: 0 0 10px;
}

.leaflet-container .marker-description img {
  margin-bottom: 10px;
}

.leaflet-container a {
  color: #3887be;
  font-weight: normal;
  text-decoration: none;
}
.leaflet-container a:hover {
  color: #63b6e5;
}
.leaflet-container.dark a {
  color: #63b6e5;
}
.leaflet-container.dark a:hover {
  color: #8fcaec;
}

.leaflet-container.dark .bigemap-button,
.leaflet-container .bigemap-button {
  background-color: #3887be;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.leaflet-container.dark .bigemap-button:hover,
.leaflet-container .bigemap-button:hover {
  color: #fff;
  background-color: #3bb2d0;
}
